@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Gilroy-500";
  src: url("/fonts/Gilroy-Medium.eot");
  src:
    local("Gilroy Medium"),
    local("Gilroy-Medium"),
    url("/fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/Gilroy-Medium.woff") format("woff"),
    url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-600";
  src: url("/fonts/Gilroy-Semibold.eot");
  src:
    local("Gilroy Semibold"),
    local("Gilroy-Semibold"),
    url("/fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("/fonts/Gilroy-Semibold.woff") format("woff"),
    url("/fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-700";
  src: url("/fonts/Gilroy-Bold.eot");
  src:
    local("Gilroy Bold"),
    local("Gilroy-Bold"),
    url("/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-900";
  src: url("/fonts/Gilroy-Heavy.eot");
  src:
    local("Gilroy Heavy"),
    local("Gilroy-Heavy"),
    url("/fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Heavy.woff2") format("woff2"),
    url("/fonts/Gilroy-Heavy.woff") format("woff"),
    url("/fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   */
  font-family: "Gilroy-600";
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

header {
  font-family: "Gilroy-500";
}

main {
  background-image: url("/main-bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

h1 {
  font-family: "Gilroy-900";
}
h2 {
  font-family: "Gilroy-700";
}
h4 {
  font-family: "Gilroy-500";
}

.how-to-earn {
  flex: 1;
  transform: translateY(-20vh);
  opacity: 0;
}
.balance {
  flex: 2.5;
  opacity: 0;
  transform: translateY(20vh);
}
.main-menu {
  flex: 9;
  transform: translateX(30vw);
}
#history-section{
  transform: translateX(-100vw);
}
.top-user{
  transform: translateY(100px);
  opacity: 0;
}

@media screen and (max-height: 670px) {
  .main-menu {
    flex: 10;
  }
  .balance {
    flex: 2;
  }
}

.locked-lottery {
  backdrop-filter: blur(6.3px);
}

.lock-icon {
  background:
    radial-gradient(
        315.18% 315.18% at -124.11% -101.79%,
        #2e2e2e 19%,
        #151515 77.71%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #2e2e2e;
  box-shadow:
    -10px -6px 21px rgba(84, 84, 84, 0.52),
    6px 5px 42px rgba(53, 54, 54, 0.36);
}
